# OS junk
.DS_Store

# IDE
.idea/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
.coverage

# LLM hosting (DO NOT COMMIT)
module_2/llm_hosting/
models/
model_cache/

# Outputs
*.json
clean.json
applicant_data_checkpoint.json

# Allow assignment master JSON files
!module_3/Data/llm_extend_applicant_data.json
!module_3/Scraper/llm_extend_applicant_data.json
# Allow module_4 JSON outputs
!module_4/src/Data/llm_extend_applicant_data.json
!module_4/src/Scraper/llm_extend_applicant_data.json

module_4/docs/build/