nav {
    /* float: right makes the navigation bar align to the right as per
    the assignment instructions. */
    float: right;
    margin-top: 0;
    font-size: 1.1rem;
    /* I selected a light blue color for the navigation bar. */
    background-color: #dbeafe;
    /* Padding and border-radius adds space within the nav bar and adds
    curved corners to the nav bar */
    padding: 10px 16px;
    border-radius: 6px;
}

/* nav a targets all elements inside "nav" sections */
/* Add color to the webpage hyper links and spacing between the links */
nav a {
    text-decoration: none;
    color: #2c3e50;
    margin-left: 15px;
}

/* This underlines the webpage link when the user hovers over it */
nav a:hover {
    text-decoration: underline;
}

/* This highlights the webpage link when the user hovers over it as per
the assignment instructions */
nav a.active {
    background-color: #e0e0e0;
    padding: 6px 12px;
    border-radius: 4px;
}

/*Center the contents of the body instead of it touching the extreme far
edges of the webpage. */
body {
    max-width: 900px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
}

/* Position the bio photo to the right as per the assignment instructions */
img {
    float: right;
    width: 150px;
    margin-left: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}
