<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}"
           class="{% if request.path == url_for('home') %}active{% endif %}">About
        </a>
        <a href="{{ url_for('contact') }}"
          class="{% if request.path == url_for('contact') %}active{% endif %}">Contact Me
        </a>
        <a href="{{ url_for('projects') }}"
           class="{% if request.path == url_for('projects') %}active{% endif %}">Projects
        </a>
    </nav>
    <h1>Contact Information</h1>
    <h2>Email: ypark79@jh.edu</h2>
    <h2>Instagram: paulparkkkk</h2>
</body>
</html>