<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <!--Link the main.css file for style adjustments-->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <!--Same navigation code as the home.html page-->
    <nav>
        <a href="{{ url_for('pages.home') }}"
           class="{% if request.path == url_for('pages.home') %}active{% endif %}">About
        </a>
        <a href="{{ url_for('pages.contact') }}"
          class="{% if request.path == url_for('pages.contact') %}active{% endif %}">Contact Me
        </a>
        <a href="{{ url_for('pages.projects') }}"
           class="{% if request.path == url_for('pages.projects') %}active{% endif %}">Projects
        </a>
    </nav>
    <h1>Projects</h1>
    <h2>Module 1 Project: Personal Website</h2>
    <h3>Details about my Module 1 Project</h3>
        <p>I created my Module 1 Project by learning Flask and using
            Python, HTML, and CSS in combination. It includes a home
            page with personal information, a contact page with
            information on how to reach to me, and a projects page,
            which includes information about this current project and
            future ones. </p>
    <h4>
            <!--This code establishes a hyperlink to my GitHub repo-->
            <a href="https://github.com/ypark79/jhu_software_concepts" target="_blank">
            Link to my Module 1 Project GitHub</a>
    </h4>
</body>
</html>