<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">About</a> |
        <a href="{{ url_for('contact') }}">Contact Me</a> |
        <a href="{{ url_for('projects') }}">Projects</a>
    </nav>
    <h1>Contact Information</h1>
    <h2>Email: ypark79@jh.edu</h2>
    <h2>Instgram: paulparkkkk</h2>
</body>
</html>