<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}">About</a> |
        <a href="{{ url_for('contact') }}">Contact Me</a> |
        <a href="{{ url_for('projects') }}">Projects</a>
    </nav>
    <h1>Projects</h1>
    <h2>Module 1 Project: My Personal Website</h2>
    <h3>Details about my Module 1 Project</h3>
    <h4>Link to my Module 1 Project GitHub</h4>
</body>
</html>