<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('home') }}"
           class="{% if request.path == url_for('home') %}active{% endif %}">About
        </a>
        <a href="{{ url_for('contact') }}"
          class="{% if request.path == url_for('contact') %}active{% endif %}">Contact Me
        </a>
        <a href="{{ url_for('projects') }}"
           class="{% if request.path == url_for('projects') %}active{% endif %}">Projects
        </a>
    </nav>
    <h1>Projects</h1>
    <h2>Module 1 Project: My Personal Website</h2>
    <h3>Details about my Module 1 Project</h3>
        <p>I created my Module 1 Project by learning Flash and using \
            Python, HTML, and CSS in combination. It includes a home \
            page with personal information, a contact page with \
            information on how to reach to me, and a projects page, \
            which includes information about this current project and \
            future ones. </p>
    <h4>
            <a href="https://github.com/ypark79/jhu_software_concepts" target="_blank">
            Link to my Module 1 Project GitHub</a>
    </h4>
</body>
</html>